*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#app{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #009688 0px, #009688 15vh,
    #dddbd1 15vh, #d2dbdc 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clearflix::after{
    display: block;
    clear: both;
    content:'';
}

/* Main */
main{
    width: 85vw;
    height: 93vh;
    background-color: white;
    display: flex;
}

div.contact{
    width: 35%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
}

div.chat{
    width: 65%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}

div.profile{
    width: 100%;
    height: 10%;
    background-color: #EAEAEA;
    border-right: .2px solid rgb(165, 165, 165);
    display: flex;
    justify-content: space-between;
}

div.profile *{
    height: 80%;
    margin-top: .4rem;
    margin-left: .3rem;
}

div.my_profile{
    display: flex;
}

div.my_profile img{
    border-radius: 50%;
}

div.my_profile p{
    padding-top: .8rem;
    font-size: 15px;
}

div.settings{
    padding-top: .8rem;
    padding-right: .7rem;
    font-size: 20px;
    color: #B1B1B1;
}

div.settings *{
    margin-right: .7rem;
}

div.settings i:hover{
    color: #8d8d8d;
}

div.notice{
    width: 100%;
    height: 10%;
    background-color: #8EDAFD;
    display: flex;
}

div.notice p,
div.notice a{
    font-size: 13px;
    padding-top: 1rem;
}

div.notice a{
    color: rgb(149, 149, 149);
}

div.notice i{
    margin-top: .6rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .7rem .6rem;
    background-color: white;
    color: #8EDAFD;
    border-radius: 50%;
    height: 70%;
    font-size: 22px;
}

div.searchbar{
    width: 100%;
    height: 6%;
    background-color: #ebe8e8;
}

div.searchbar input{
    height: 77%;
    width: 95%;
    border: none;
    text-align: center;
    margin-left: .5rem;
    margin-top: .3rem;
    border-radius: 8px;
}

.chats{
    width: 100%;
    overflow: hidden;
}

 .chatUser {
    height: 15%;
    padding: 0.75rem 1rem;
    display: flex;
    background-color: white;
    border-bottom: .2px solid rgb(199, 199, 199);
    position: relative;
}

.chats .chatUser .imgWrap {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: auto;
    margin-right: 0.75rem;
}

.chats .chatUser .imgWrap img {
    width: 100%;
}

.lastMessage {
    font-size: 12px;
    color: #8c8a8a;
}

.chatUser:hover{
    background-color: #EAEBEB;
}

.username{
    font-size: 17px;
}

.info p{
    margin-top: .2rem;
}

div.chats span{
    position: absolute;
    font-size: 10px;
    color: #8c8a8a;
    right: 6px;
    top: 4px;
}

/* Chat */

div.messages{
    height: 80%;
    padding-top: 1rem;
    background-image: url('../img/mine.jpg');
}

div.messages > article.message{
    padding: 1rem 1.25rem;
    border-radius: 1rem;
    margin: 0 2rem .8rem 2rem;
    background-color: #8edafc;
    font-size: 13px;
    clear: both;
}

div.messages > article.message.received{
    float: left;
    background-color: #ffffff;
    margin-right: 7rem;
    padding-right: 3rem;
    position: relative;
}

div.messages > article.message.sent{
    float: right;
    background-color: #d5f9ba;
    margin-left: 7rem;
    padding-right: 3rem;
    position: relative;
}

.messages span{
    position: absolute;
    font-size: 8px;
    color: grey;
    bottom: 2px;
    right: 9px;
    padding: .2rem;
}

div.message-input{
    height: 10%;
    background-color: #f3eeea;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.message-input input{
    width: 80%;
    height: 75%;
    border-radius: 7px;
    border: none;
    padding-left: 1rem;
}

div.message-input i{
    margin: 0 2rem;
    font-size: 20px;
    color: #8c8a8a;
}